/* ################################ HEADER  ################################*/
.home-header{
    position: absolute;
    height: 64px;
    /* background: #21f65020; */
}

.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo{
    width: 120px;
    cursor: pointer;
}

.menu-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 25%;
    text-transform: uppercase;
    font-weight: bolder;
}

.menu-link, .menu-item img{
    transition: .15s ease;
}

.menu-link{
    font-size: 14px;
    color: var(--white);
}

.menu-item:hover img{
    /* transforma o botão de play em laranja */
    filter: invert(51%) sepia(50%) saturate(849%) hue-rotate(341deg) brightness(111%) contrast(91%);
}

.menu-item:hover .menu-link{
    color: var(--orange);
}

.iniciar{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.iniciar p{
    margin-left: 5px;
}


/*################################ BANNER  ################################ */
.banner{
    background-image: url("../../assets/img/banner-background.jpg");
    min-height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* z-index: 1; */
}

.banner-content{
    min-height: inherit;
    display: grid;
    place-items: center;
}

.logo-e-botoes{
    width: 450px;
    margin-bottom: 5%;
}

.banner-logo{
    margin-bottom: 1.5em;
}

.botoes-banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button{
    width: 45%;
    font-size: 16px;
    padding: .75em 0;
    display: grid;
    place-items: center;
    border-radius: 5px;

    box-shadow: inset #000000aa 0px 0px 20px, #000 5px 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .25s
}

.button:hover{
    animation: button-shake .25s;
    filter: brightness(110%);
}

@keyframes button-shake{
    25%{
        transform: rotate(5deg);
    }

    75%{
        transform: rotate(-5deg);
    }

    100%{
        transform: none;
    }
}


.brown-button{
    color: var(--white);
    background-color: var(--brown);
}

.orange-button{  
    color: var(--brown);
    background-color: var(--orange);
}



/* ################################ "card" entre o banner e outra seção ################################ */
.wooden-card{
    background-color: var(--brown);
    height: 10em;
    position: relative;
    top: -7.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--sand);
    padding: 10% 5%;
    box-shadow: inset #000000aa 0px 0px 50px, #000 5px 5px 30px;
    z-index: 1;


}

.card-title{
    text-transform: uppercase;
    font-size: 34px;
}

.desenho-maga{
    margin-right: 50px;
    transition: 1s ease;

}

.wooden-card:hover .desenho-maga{
    filter: brightness(125%);
}


/* ################################ REINOS ################################ */
body{
    background-color: var(--white);

}

.reinos-container{
    z-index: 0;
    position: relative;
    top: -7.5em;
    padding: 50px 0;
}

.reinos-title{
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.carousel{
    position: relative;
    top: -5em;
    margin-bottom: -5em;
}


.slide-container{
    min-height: 100vh;
    position: relative;
    /* top: -10em; */
    z-index: 1000;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: -10%;
    background-position-y: center;
}


.slide{
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    color: var(--green);
    max-width: 70%;
    margin: auto;
 }

.exatas-container{
    background-image: url("../../assets/img/exatas-background.png");
}

.natura-container{
    background-image: url("../../assets/img/natura-background.png");
}

.humanas-container{
    background-image: url("../../assets/img/humanas-background.png");
}

.socioemocional-container{
    background-image: url("../../assets/img/socioemocional-background.png");
}

.linguagens-container{
    background-image: url("../../assets/img/linguagens-background.png");
}

.slide-title{
    font-size: 30px;
}

.reino-image{
    width: 50%;
}

.reino-description{
    width: 45%;
    margin-left: 20px;
}

.seta-carousel{
    border: unset;
    background: none;
    position: absolute;
    top: 50%;
    margin: 0 10%;
    transition: .25s;
}

.seta-carousel:hover{
    transform: scale(1.25);
    filter: brightness(175%);
}

.seta-carousel-direita{
    transform: rotate(180deg);
    right: 0;
}

.seta-carousel-direita:hover{
    transform: rotate(180deg) scale(1.25);

}

.dot-group{
    margin: auto;
    text-align: center;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15%;
}


.dot{
    width: 19.5%;
    min-height: 10px;
    border: none;
    background-color: #b8c2b5;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.carousel__dot--selected:nth-child(1){
    background-color: #c54955;
}

.carousel__dot--selected:nth-child(2){
    background-color: #dda413;
}

.carousel__dot--selected:nth-child(3){
    background-color: #7092cb;
}

.carousel__dot--selected:nth-child(4){
    background-color: #b8d04c;
}

.carousel__dot--selected:nth-child(5){
    background-color: #645fae;
}


/* ################################ CLASSES ################################ */
.classes-container{
    background-image: url("../../assets/img/classes-silhueta.png");
    background-color: var(--green);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.classes-content{
    padding: 3em 0;
}

.classes-title{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 2em;
}

.classes{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.classe{
    text-align: center;
    color: var(--white);
    margin-bottom: 2em;
    transition: .25s;

}


.classe-image{
    object-fit: cover;
    object-position: 50% -5%;
    height: 240px;
    width: 240px;
    background: var(--green);
    box-shadow: #000 0px 0px 15px 5px;
    transition: .25s;

}

.classe:nth-child(n+4) .classe-image{
    object-position: 50% -20%;

}

.classe-name{
    font-size: 20px;
    position: relative;
    top: 5px;
    transition: .25s;
    font-weight: 100;

}

.classe:hover{
    transform: scale(1.1);
}

.classe:hover .classe-name{
    color: var(--sand);
}


/* ################################ RANKING ################################ */
.ranking-container{
    background-image: url("../../assets/img/home-ranking-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ranking-content{
    padding:3em 0;
}


.title-and-icon{
    display: flex;
    align-items: flex-end;
}

.ranking-title{
    font-size: 34px;
    margin-left: 5px;
    color: #fff;
    position: relative;
    bottom: -5px;
}


.ranking{
    margin: 50px 0;
}

.ranking-box{
    background-color: #BB671F80;
    width: 35%;
    height: 90px;
    margin: 1em 0;
    padding: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    box-shadow: #00000050 0px 0px 15px 5px;
}

.ranking-position{
    align-self: flex-start;
    font-family: "Eagle Lake";
    font-size: 16x;
}

.student-image{
    background: #fff;
    height: 100%;
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    padding: 0 2%;
    margin: 0 1em;
}

.student-name{
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.student-description{
    font-size: 12px;
    font-weight: 500;
}

.ranking-box:nth-child(1){
    background-color: #BB671F;
    width: 50%;
    height: 120px;
}

.ranking-box:nth-child(1) .student-name{
    font-size: 22px;
}

.ranking-box:nth-child(1) .student-description{
    font-size: 16px;
}

.ranking-box:nth-child(2){
    background-color: #BB671Fdd;
    width: 40%;
    height: 100px;
}

.ranking-box:nth-child(2) .student-name{
    font-size: 20px;
}

.ranking-box:nth-child(2) .student-description{
    font-size: 14px;
}

.ranking-box:nth-child(3){
    background-color: #BB671Faa;
}

.ranking-button{
    width: 30%;
    margin: auto;
}


/* ################################ FOOTER ################################ */

.footer{
    background: var(--black);
    margin: auto;
    text-align: center;
}

.logo-footer{
    width: 15%;
    /* margin-bottom: 1em; */
}

.footer .content{
    /* background: red; */
    padding: 2em 0;
}

.footer-info::before{
    content: "";
    display: block;
    background-color: var(--sand);
    height: 3px;
    width: 100%;
    margin: 1.5em 0 0.5em 0;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.copyright{
    color: #b4b4b4;
    text-transform: uppercase;
    font-weight: medium;
}

.footer-links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link{
    color: var(--sand);
    transition: .25s;
}

.footer-link:hover{
    text-decoration: underline;
}

