.Map{
    background-image: url("../../assets/img/map-background.jpg");
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

header{
    z-index: 2;
}

.title-container{
    background-image: url("../../assets/img/map-header-background.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-bottom: 11%;

}

.map-title{
    position: relative;
    margin: auto;
    top: 10vh;
    width: 50%;
    text-align: center;
    color: var(--sand);
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 50px;
}


/* ##########################  MAPA  ##########################*/

.map-container::after{
    content: "";
    display: block;
    height: 10em;
    width: 10em;
    opacity: 50%;

    position: absolute;
    right: 5%;
    top: 55%;
    background-image: url("../../assets/img/BUSSOLA.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* FIX ME */
/* .map-content{
    background-image: url("../../assets/img/traçado-mapa.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: rgba(255, 0, 0, 0.384); 
    width: 100%; 
} */


.reinos{
    /* min-height: 50vh; */
    position: relative;
    top: -35px;
    width: 80%;
    margin: auto;
    
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "linguagens . socioemocional"
    ". exatas ."
    "humanas . natura"
    ;
}

.reino{
    margin: auto;
    text-align: center;
    position: relative;
    transition: .25s ease; 
}

.reino:hover{
    transform: scale(1.2);
}

.reino:nth-child(3){
    top: -40%;
    /* width: 70%; */
}

.reino:nth-child(n+4){
    top: -40%;
}
.linguagens{
    grid-area: linguagens;
}

.socioemocional{
    grid-area: socioemocional;
}

.exatas{
    grid-area: exatas;
}

.humanas{
    grid-area: humanas;
}

.natura{
    grid-area: natura;
}

.Map .reino-image{
    width: 90%;
    filter: drop-shadow(#00000090 0px 10px 5px);
}

.reino-status{
    font-family: "Eagle Lake", "Roboto Slab", sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

.linguagens .reino-status{
    color: #5F93CD;
}
.socioemocional .reino-status{
    color: #2E52B2;
}
.exatas .reino-status{
    color: #E34754;
}
.humanas .reino-status{
    color: #626C2D;
}
.natura .reino-status{
    color: #E56701;
}

/* ##########################  GAME OPTIONS (menu do lado)  ##########################*/
.game-options{
    position: absolute;
    right: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.game-option{
    background: var(--brown);
    border-radius: 10px;
    padding: 5px;
    margin: .25em 0;
    width: 2.5em;
    height: 2.5em;
    display: grid;
    place-items: center;

    box-shadow: inset #000000aa 0px 0px 15px, #00000090 2px 2px 10px;
    transition: .25s ease;

}

.game-option-icon{
    width: 1.5em;
}

.game-option:nth-child(2) .game-option-icon{
    width: 1.8em;
    margin-right: -.25em;
}


.game-option:hover{
    background-color: var(--orange);
}

.tooltip{
    background-color: unset;
    font-weight: bold;
    font-size: 14px;
    color: var(--brown) !important;
    border-bottom: 3px solid var(--orange) !important;
    padding: 0 5px !important;
}

.footer{
    position: relative;
    bottom: 0
}

/* ################################ RESPONSITIVY - BIG SCREENS ################################ */
@media only screen and (min-width:1600px){
    .title-container{
        padding-bottom: 12%;
    }

    .Map{
        min-height: 100vh;
    }

    .game-options{
        right: 20%;
    }

    .map-container::after{
        right: 15%;
    }

    .Map .footer{
        position: absolute;
        top: 100vh;
    }
}

/* ################################ RESPONSITIVY - 1200 ################################ */
@media only screen and (max-width:1200px){
    .Map{
        min-height: unset;
    }
    
    .title-container{
        padding-bottom: 15%;
    }


}

/* ################################ RESPONSITIVY - 800 ################################ */
@media only screen and (max-width:800px){
    .map-title{
        width: 75%;
        padding-bottom: 18%;
    }

    .reinos{
        width: 100%;
    }


    .game-options{
        position: relative;
        top: -20px;
        left: calc(50% - 25%);
        width: 50%;
        margin-bottom: 50px;
        /* display: flex; */
        flex-direction: row;
    }

    .game-option{
        height: 3em;
        width: 3em;
        /* border-radius: 10px; */
    }

    .map-container::after{
        /* height: 7em; */
        /* width: 10em; */
        z-index: -1;
        right: calc(50% - 5em);
        top: 60%;
    }


}

/* ################################ RESPONSITIVY - MOBILE ################################ */
@media only screen and (max-width: 600px){
    .map-title{
        font-size: 22px;
        width: 100%;
        top: 90px;
        padding-bottom: 40%;
    }

    .map-container{
        min-height: 55vh;
    }

    .title-container{
        height: 45vh;
    }

    .game-options{
        position: absolute;
        width: 80%;
        top: 90vh;
        left: 10%;
    }

    .game-option{
        width: 2.5em;
        height: 2.5em;
    }

    .reino:nth-child(3){
        top: -20px;
    }

    .map-container::after{
        top: 15%;
    }
    
    /* .map-container::after{

        display: none;
    }

    .reinos{
        display: flex;
        flex-direction: column;
    }

    .reino{
        margin-bottom: 20px;
    }

    .game-options{
        position: fixed;
        z-index: 1;
    } */

}
