.teste {
    background-image: url("../../assets/img/trophy.svg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerRanking {
    background-image: url("../../assets/img/banner-background.jpg");
    min-height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerContentRanking {
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 15%;
}

.bannerContentRanking img {
    width: 30%;
    height: 200px;
}
