@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
}

:root{
    --green: #014514;
    --orange: #F4872C;
    --brown: #66350C;
    --dark-orange: #BB671F;
    --sand: #F1AE79;
    --white: #f7f7f7;
    --black: #242424;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style-type: none;
}

h1,h2,h3,h4,h5{
    font-family: "Eagle Lake", "Roboto Slab", sans-serif
}


.container{
    width: 100%;
}

.content{
    width: 80%;
    margin: auto;
}

/* ################################ HEADER  ################################*/
.home-header{
    position: absolute;
    height: 64px;
    /* background: #21f65020; */
    transition: .5s ease;
}

.fixed{
    position: fixed;
}

.home-header.active{
    background-color: var(--brown);
    box-shadow: var(--black) 10px 0px 20px;
}

.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo{
    width: 120px;
    cursor: pointer;
}

.menu-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 25%;
    text-transform: uppercase;
    font-weight: bolder;
    transition: .5s ease;
}

.menu-link, .menu-item img{
    transition: .15s ease;
}

.menu-link{
    font-size: 14px;
    color: var(--white);
}

.menu-item:hover img{
    /* transforma o botão de play em laranja */
    filter: invert(51%) sepia(50%) saturate(849%) hue-rotate(341deg) brightness(111%) contrast(91%);
}

.menu-item:hover .menu-link{
    color: var(--orange);
}

.iniciar{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.iniciar p{
    margin-left: 5px;
}

.logado{
    /* width: 15%; */
    align-items: center
}

.logado .iniciar{
    align-items: flex-end;
}

.logado .iniciar p{
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: -1px;
}

.menu-mobile{
    cursor: pointer;
    transition: .5s ease;
    display: none;
    padding: 15px 0;
}

.menu-mobile:hover{
    filter: brightness(120%);
}

.menu-button{
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 5px;
    background-color: #F0842A;
    z-index: 100;
    transition: inherit;
}

.menu-button::before{
    content: "";
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 5px;
    background-color: #F0842A;
    position: relative;
    bottom: 7px;
    transition: inherit;

}

.menu-button::after{
    content: "";
    display: block;
    z-index: inherit;
    width: 22px;
    height: 4px;
    border-radius: 5px;
    background-color: #F0842A;
    position: relative;
    top: 3px;
    transition: inherit;

}

/* ################################ FOOTER ################################ */

.footer{
    background: var(--black);
    margin: auto;
    text-align: center;
}

.logo-footer{
    width: 15%;
    /* margin-bottom: 1em; */
}

.footer .content{
    /* background: red; */
    padding: 2em 0;
}

.footer-info::before{
    content: "";
    display: block;
    background-color: var(--sand);
    height: 3px;
    width: 100%;
    margin: 1.5em 0 0.5em 0;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.copyright{
    color: #b4b4b4;
    text-transform: uppercase;
    font-weight: medium;
}

.footer-links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link{
    color: var(--sand);
    transition: .25s;
}

.footer-link:hover{
    text-decoration: underline;
}





@media only screen and (max-width: 800px){
    .content{
        width: 85%;
    }
}




/* ################################ RESPONSITIVY - BIG SCREENS ################################ */
@media only screen and (min-width:1600px){
    .content{
        max-width: 1200px;
    }
}

/* ################################ RESPONSITIVY - 1000 ################################ */
@media only screen and (max-width:1000px){
    .menu-mobile{
        display: block;
    }

    .menu-options{
        overflow: hidden;
        position: absolute;
        top: -110vh;
        right: 0;
        padding: 20%;
        height: 100vh;
        justify-content: space-around;
        flex-direction: column;
        background: pink;
        width: 40%;
        z-index: -1;
        background: var(--brown);
        box-shadow: inset #000000aa 0px 0px 50px, #000 5px 5px 30px;
    }

    .menu-options-active{
        top: 0vh;
    }

    .menu-mobile-active .menu-button{
        /* transform: translateX(-50px); */
        background: transparent;
    }

    .menu-mobile-active .menu-button::before{
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-mobile-active .menu-button::after{
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .footer .content{
        padding: 4em 0;
    }

    .logo-footer{
        width: 30%;
    }


    .footer-links{
        width: 45%;
        /* margin-bottom: 25px; */
    }

    .copyright{
        font-size: 14px;
    }


}

@media only screen and (max-width: 600px){
    .content{
        width: 90%;
    }

    .menu-options{
        width: 100%;
        height: 80vh;
    }
}
